// Add your custom styling here.

#figs {
    color: black;
    float: right;
    padding-bottom: 20px;
	padding-left: 20px;
}

img.figure {
    display: block;
    border: 1px solid black;
    float: right;
}